{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container"">
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="text-center" style="background-color:lightgrey;" >
                <th>Subject</th>
                <th>Subject Code</th>
                <th>Internal Mark</th>
                <th>Total Internal</th>
                <th>Attendance</th>
            </tr>
            </thead>
            <tbody>
            {% for i in internal %}
            <tr class="text-center">
                <td style="text-align:justify;">{{i.Subject.Subject_name}}</td>
                <td>{{i.Subject.Subject_code}}</td>
                <td>{{i.Internalmark}}</td>
                <td>{{i.Totalmark}}</td>
                <td>0</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}