{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'chatbot/whatsapp.css' %}">

<script>
    const BASE_URL = "/StudentPortal";
    const senderSide = "student";
    const studentID = "{{ student_id }}";
</script>


<script src="{% static 'chatbot/whatsapp.js' %}"></script>

<div class="messenger-wrapper">
    <div class="chat-window" style="width:100%;">
        <div class="chat-header">
            <img src="{% static 'teacheradmin/assets/images/teacher.jpg'%}" class="rounded-circle" height="100px" width="100px">
            <h4 style="margin-left:1px;">Tutor</h4>
            <button id="clearChatBtn" onclick="return confirm('Are you sure ?')" class="btn btn-outline-success" style="border-radius:50px; margin-left:850px;">Clear Chat</button>
        </div>

        <div id="chat-body" class="chat-body"></div>

        <div class="chat-input">
            <input id="messageBox" placeholder="Type a message">
            <button id="sendBtn">Send</button>
        </div>
    </div>
</div>

{% endblock %}
