{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding:50px;">
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="text-center" style="background-color:lightgrey;" >
                <th>Subject</th>
                <th>Subject Code</th>
                <th>Internal Mark</th>
                <th>Total Internal</th>
                <th>Attendance</th>
            </tr>
            </thead>
            <tbody>
            {% for i in attendance %}
            <tr class="text-center">
                <td style="text-align:justify;">{{i.subject}}</td>
                <td>{{i.subjectcode}}</td>
                <td>{{i.internalmark}}</td>
                <td>{{i.totalmark}}</td>
                <td>{{i.percentages}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}