{% extends "index.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'chatbot/whatsapp.css' %}">

<h3 class="mb-3">Select a student to chat</h3>

<div class="chat-list">
    {% for s in students %}
    <a href="{% url 'Chatbotpage' s.id %}" class="chat-list-item">
        <img src="{{ s.Student_prof.url }}" class="avatar">
        <div class="list-info">
            <div class="name">{{ s.Student_name }}</div>
            <div class="preview">Click to open chat</div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
